/* Importamos la librería bootstrap*/
/* @import url('bootstrap.css'); */
/* Importamos los iconos */
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

/* Importamos Letra */
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Lexend+Mega|Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tangerine&display=swap');

*{
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body{
  font-family: 'Lexend Mega', sans-serif;
  height: 100%;
  margin: 0;
}

h1{
  font-family: 'Fjalla One', sans-serif;
  font-size: 3em;
}

h2{
  font-family: 'Fjalla One', sans-serif;
  font-size: 2.5em;
}

.navAlign{
  justify-content: flex-end;
}

.navTextAlig{
  text-align: end;
}

.divider{
  border: solid 1px #666;
}


/* INDEX  ---------------------------------------------------------------- Index */
.contenedorMain{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80vh;
}

.imgIndex{
  display: none;
}

.tituloIndex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../imgs/dani_utensilios.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}

/* SOBRE MI ----------------------------------------------------------- Sobre mi */

.contenedorPrincipal{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 20px;
  text-align: center;
}

.contenedorSobre{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.imgSobre{
  display: none;
}

.imgPast{
  display: none;
}

/* TRAYECTORIA ------------------------------------------------------Trayectoria */
.titleTrayectoria h2{
  justify-content: center;
  display: flex;

}

.contenedorTrayectoria{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.trayectoriaCard{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}
.trayTitle{
  border-bottom: #aaaaaa 1px solid;
}
.trayTitle h3{
  font-size: 2em;
  color: rgb(228, 50, 45);
  margin-bottom: 0;
}
.traySubTitle{
  display: flex;
  justify-content: flex-end;
}
.traySubTitle h4{
  font-size: 1em;
  color: #666;
  font-weight: bold;
}
.trayP{
  text-align: justify;
}

/* CREACIONES ----------------------------------------------------------- CREACIONEs */
  .conteinerImgs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
  }
  .oneImgs{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    min-height: 300px;
    position: relative;
    overflow: hidden;
    margin:10px 0 0 0;
  }

  .oneImgs img{
    display: block;
    height: 100%;
    position: absolute;
    display: block;
    width: 100%;
    object-fit: cover;
  }

/* FOOTER  -------------------------------------------------------------- Footer */

footer{
  background: #666;
  color: #fff;
  padding: 10px 0;
  font-size: 0.7rem;
}

footer h2{
  font-size: 1.3rem;
  letter-spacing: 2px;
}

footer .mainFooter{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 0.9rem;
  color: #fff;
}

footer a{
  color: #fff!important;
}

footer a:hover{
  color:#ccc;
  text-decoration: none;
}

/* Phones Landscape ------------------------------------------------------------ Phones Landscape -*/
@media (min-width:480px){

}
/* Tablets --------------------------------------------------------------------- Tablets ------*/
@media (min-width:768px){

/* INDEX  ---------------------------------------------------------------- Index */
  h1{
    font-weight: 400;
    font-size: 3em;
  }
  .contenedorMain{
    /* padding: 20px 0px; */
    height: 90vh;
  }
  .imgIndex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 10px;
  }
  .imgIndex img{
    height: 100%;
    /* padding: 20px; */
  }
  .tituloIndex{
    background-image: url('');
  }
/* SOBRE MI ----------------------------------------------------------- Sobre mi */

  .contenedorSobre{
    padding: 20px;
    height: 100vh;
  }

  .imgSobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .imgSobre img{
    height: 100%;
    right: -250px;
    position: absolute;
    box-shadow: 0px 13px 21px -10px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
  }

  .sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
  }
}
/* Desktops -------------------------------------------------------------------- Desktops ------*/
@media (min-width:992px){
/* INDEX  ---------------------------------------------------------------- Index */
  h1{
    font-size: 4em;
  }

/* HEADER  ------------------------------------------------------------- Header */
  .navbar-collapse{
    justify-content: flex-end;
  }
/* SOBRE MI ----------------------------------------------------------- Sobre mi */
  .contenedorPrincipal{
    text-align: left;
    height: 100vh;
  }

  .contenedorSobre{
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around; */
  }

  .imgSobre{
    display: none;
  }

  .sobre{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .pastConteiner{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
  }

  .imgPast{
    display: block;
    width: 60%;
  }
  .imgPast img{
    width: 80%;
    height: 100%;
    object-fit: contain;
  }
  .boxAbout{
    width: 75%;
    display: flex;
    flex-direction: column;
  }

  .boxLeft{
    align-self: flex-start;
  }

  .boxRight{
    align-self: flex-end;
  }



/* CREACIONES ----------------------------------------------------------- CREACIONEs */
  .conteinerImgs{

  }
  .oneImgs{

  }

}

/* Widescreen ------------------------------------------------------------------ Widescreen ------*/
@media (min-width:1200px){

}
